<h1>Stuffed Animal Collection</h1>

<form action="/AddAnimal" method="post">
  <label for="animal">Stuffed Animal</label>
  <input type="text" name="animal">
  <button type="submit" class="btn">Add Animal!</button>
</form>
